@model Hayvan_Barınağı.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Hayvan Barınağı
            </h1>
            <p class="lead">
                Hayvan Barınağı uygulamasını kullanarak hayvan sahiplenebilir, sahiplenilmesi için ilan oluşturabilirsiniz.
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://www.quokkabrew.com/cdn/shop/articles/the-happiest-animal-on-earth-350013_632x.jpg?v=1589229443"
                 alt="Hayvan Barınağı"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        @if (Model != null && Model.Hayvanlar.Any())
        {

            foreach (var hayvan in Model.Hayvanlar)
            {
           
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=@hayvan.fotografURL alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@hayvan.HayvanAdi</h5>
                        <p class="card-text">@hayvan.Aciklama</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Türü:</b>@hayvan.TurAdi</li>
                        <li class="list-group-item"><b>Cinsi:</b>@hayvan.CinsAdi</li>
                        <li class="list-group-item"><b>Sahiplenildi mi:</b> @if(@hayvan.Sahiplenildi){<p>Evet</p>} else {<p>Hayır</p>}</li>
                        <li class="list-group-item"><b>Eklenme Tarihi:</b>@hayvan.EklenmeTarihi</li>

                    </ul>
                 
                </div>
            }
            

        }
    </div>

</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
        </div>
    </div>
</div>