@model List<Hayvan_Barınağı.Models.Hayvan.Hayvan>

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            Hayvanları Göster - Kullanıcı
        </h1>

    </div>
</div>


<div class="container py-5">

    @{
        if (Model != null && Model.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Hayvan Türü</th>
                        <th scope="col">Hayvan Cinsi</th>
                        <th scope="col">Hayvan Adı</th>
                        <th scope="col">Hayvan Yaşı</th>
                        <th scope="col">Sahiplenildi mi?</th>

                        <th scope="col"> </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var Hayvan in Model)
                    {
                        <tr>
                            <td>@Hayvan.HayvanId</td>
                            <td>@Hayvan.TurAdi</td>
                            <td>@Hayvan.CinsAdi</td>
                            <td>@Hayvan.HayvanAdi</td>
                            <td>@Hayvan.Yas</td>
                            <td>@if (@Hayvan.Sahiplenildi)
                                {
                                    <p>Evet</p>
                                }
                                else
                                {
                                    <p>Hayır</p>
                                }</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> Kayıtlı Hayvan bulunamadı</p>
        }
    }

</div>
