@model List<Hayvan_Barınağı.Models.Hayvan.Hayvan>

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            Hayvanları Göster - Admin
        </h1>

    </div>
</div>


<div class="container py-5">

    @{
        if (Model != null && Model.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Hayvan Adı</th>
                        <th scope="col"> Hayvan Türü</th>
                        <th scope="col"> Hayvan Cinsi</th>
                        <th scope="col"> Sahiplenme İsteği</th>
                        <th scope="col"> Onay </th>

                        <th scope="col"> </th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var Hayvan in Model)
                    {
                        <tr>
                            <td>@Hayvan.HayvanId</td>
                            <td>@Hayvan.HayvanAdi</td>
                            <td>@Hayvan.Tur</td>
                            <td>@Hayvan.Cins</td>
                            <td>
                                @if (Hayvan.SahiplenmeDurumu == 1)
                                {
                                    <p>Var</p>
                                }
                                else
                                {
                                    <p>Yok</p>
                                }


                            </td>
                           
                            <td>@if (Hayvan.Sahiplenildi)
                                {
                                    <p> Hayvan Sahiplenildi</p>
                                } else if(Hayvan.SahiplenmeDurumu == 1)
                                {
                                    <a class="btn btn-success"
                                       asp-area=""
                                       asp-controller="AdminHayvanlar"
                                       asp-action="SahiplenmeOnay"
                                       asp-route-HayvanId="@Hayvan.HayvanId">
                                        Onayla
                                    </a>
                                } else
                                {
                                    <p> Sahiplenme isteği yok. </p>
                                }

                            </td>


                            <td>
                                <a class="btn btn-info"
                       asp-area=""
                       asp-controller="AdminHayvanlar"
                       asp-action="Duzenle"
                       asp-route-HayvanId="@Hayvan.HayvanId">
                                    Düzenle
                                </a>
                            </td>


                            <td>
                                <a class="btn btn-danger"
                       asp-area=""
                       asp-controller="AdminHayvanlar"
                       asp-action="Sil"
                       asp-route-HayvanId="@Hayvan.HayvanId">
                                    Sil
                                </a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> Kayıtlı Hayvan bulunamadı</p>
        }
    }

</div>
